* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* position: relative; */
}

.hide {
    display: none;
}

.flex {
    display: flex;
}

h1 {
    text-align: center;
}

.dropdown-menus,
.dropdown-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.toggle-menu {
    max-width: 60px;
    justify-self: center;
}

.dropdown-menu {
    /* position: absolute; */
    /* width: 100%; */
    z-index: 1;
    justify-self: center;
}

.show-menu {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.4s linear;
}

.hide-menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;

    /* -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out; */
}

button {
    border: none;
}

/* IMAGE CAROUSEL STYLES */

.carousel-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#carouselContainer {
    overflow: hidden;
    width: 500px;
    height: 300px;
}

#slidesContainer {
    width: 2000px;
    height: 300px;
    display: flex;
}

.image {
    width: 500px;
    height: 300px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active {
    background-color: #717171;
}
